<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chat_box.css">
<h1 style="margin-left: 50px;"> Home</h1>
<div id="home-container">
    <section id="feed-posts">
        <h4 style="margin-left: 50px;">POSTS</h4>
        <% if(locals.user){ %>
        <!--to post only when signed in-->
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea style="border-radius: 10px; margin-left: 50px;" name="content" cols="40" rows="4" placeholder="Text here..."></textarea>
            <input type="submit" value="Post" style="border-radius: 5px; color:green;">
        </form>
        <% } %>
    
        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                    <%- include('_post') -%>
                <% } %>
            </ul>
        </div>
    </section>
    
    <section id="user-friends">
        <h4>Friends</h4>
        <% for(u of all_users){ %>
            <p>
                <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
            </p>
        <% } %>
    </section>
    <%- include('_chat_box') -%>
</div>

<!--importing this post for creating the comments-->
<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>


<!--import the script file for toggle likes,also run it over for the already present posts and comments on the page-->
<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self=this;
        let toggleLike = new ToggleLike(self);
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>

<% if(locals.user){ %>
<script>
    new ChatEngine('user-chat-box','<%= locals.user.email %>')
</script>
<% } %>